* {
	color: rgba(0, 0, 0, .86);
	font-size: 1em;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: #333;
}

h1 {
	font-weight: bold;
	font-size: 2em;
	margin: 0;
	margin-bottom: 12pt;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

.sub {
	font-size: 10pt;
	margin: 0;
	color: rgba(0, 0, 0, .6);
	font-weight: 700;
	font-family: 'Roboto Mono', monospace;
}

.cta-button {
	height: 32pt;
	background: rgb(252, 215, 3);
	font-weight: 600;
	padding: 0 12pt;
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 2pt;
	color: rgba(0, 0, 0, .86) !important;
	text-decoration: none;
}

.cta-button:hover {
	text-decoration: none;
}

.cta-button .material-icons {
	height: 32pt;
	width: 32pt;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.inputcontainer .input_title {
	text-align: left;
	margin: 0;
	font-size: 1em;
	margin-left: 6pt;
	margin-bottom: 3pt;
	color: rgba(0, 0, 0, 0.36);
	text-transform: lowercase;
}

.inputcontainer .textinput {
	-webkit-appearance: none;
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 8pt;
	padding: 6pt;
	border: none;
	border-radius: 6pt;
	border: rgba(0, 0, 0, 0.12) solid 1pt;
}

.inputcontainer .textinput:invalid {
	box-shadow: none;
	border: #ffbe76 solid 1pt;
}

.formsubmitbutton {
	-webkit-appearance: none;
	width: 100%;
	border: 0;
	padding: 8pt 0;
	background: #fcd703;
	border-radius: 6pt;
	margin-top: 8pt;
}

.formsubmitbutton:disabled {
	background: #fff8cf;
	color: rgba(0, 0, 0, 0.36);
}

.table {
	max-width: 500pt;
	box-sizing: border-box;
	margin: 0 auto;
}

.table .table-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	font-size: 10pt;
	width: 100%;
	box-sizing: border-box;
	row-gap: 4pt;
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	padding: 4pt 8pt;
	border-radius: 8pt 8pt 0 0;
}

.table-row:first-child {
	background: #fcd703;
}

.table .table-heading {
	font-weight: 600;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
}

.table .table-element {
	font-weight: 400;
	text-transform: capitalize;
	box-sizing: border-box;
	margin: 0;
	width: 100%;
}

@media (min-width: 400px) {
	body {
		font-size: 1em;
	}
}

@media (max-width: 500pt) {
	.cta-button {
		width: 100% !important;
		font-size: 10pt !important;
	}
	h1 {
		font-size: 1.5em !important;
	}
	p, a {
		font-size: 0.8em !important;
	}
	.sub {
		font-size: .6em !important;
	}
	.table .table-row {
		grid-template-columns: 1fr 1fr !important;
	}
}